/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#content {
	width: 1120px;
	margin: auto;
	display: flex;
}

// archive posts

.archive {
	div#content {
		display: flex;
    flex-direction: row;
		width: 100%;
		padding-top: 4%;
	 } .page-title h1 {
		 display: flex;
		 justify-content: flex-end;
	 }
	  .entry-header {
		position: relative;
		img {
			width: 100%;
		} .entry-title {
			background-color: $brand_color_green;
			font-family: $font_accent;
			text-transform: uppercase;
			position: absolute;
			top: 20px;
			left: 0;
			color: $color__background-screen;
			a {
				color: $color__background-screen;
				font-family: $font_accent;
				}
		} .entry-meta {
			background-color: $brand_color_green;
			font-family: $font_accent;
			color: $color__background-screen;
			text-align: center;
			position: absolute;
			right: 0;
			bottom: 7px;
		}
  	} 
	}

// single journal posts using single-post class rather than targeting individual page id's

.single-post {
	.site-content {
    margin: auto;
    padding-top: 28px;
    display: flex;
    .entry-header {
      position: relative;
      img {
        width: 100%;
      } .entry-title {
        background-color: $brand_color_green;
        font-family: $font_accent;
        text-transform: uppercase;
        position: absolute;
        top: 20px;
        left: 0;
        color: $color__background-screen;
        a {
          color: $color__background-screen;
          font-family: $font_accent;
          }
      } .entry-meta {
        background-color: $brand_color_green;
        font-family: $font_accent;
        color: $color__background-screen;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 7px;
      }
    } 
  }
}
// styling comment section in individual journal posts

.social-media-journal {
		display: flex;
		width: 100%;
		a {
			border: 1px solid black;
			padding: 10px 30px;
			color: black;
			font-family: $font_accent;
			text-transform: uppercase;
			margin-left: 10px;
		} i {
			color: black;
			margin-right: 10px;
		} 
	}
.nav-previous {
	display: none;
}

#comments {
	width: 100%;
}

// single product page using single-product
.product-template-default {
	#content {
	 
	}
}