/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#content {
	width: 1120px;
	margin: auto;
}

// footer styles
footer {
	display: flex;
}

.wood {
	background-image: url("images/dark-wood.png");
}

.contact-info {
	display: flex;
	flex-direction: column;
	font-family: $font_main;
	text-decoration: none;
	p {
		font-family: $font_accent;
		color: $brand_color_orange;
	}
}

.business-hours {
		font-family: $font_main;
		text-decoration: none;
	p {
		font-family: $font_accent;
		color: $brand_color_orange;
	} li {
		list-style-type: none;
	}

}