/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

//sidebar
#primary {
  padding-right: 5%;
  padding-top: 50px;
}

#secondary {
  padding-left: 5%;
  border-left: 1px solid $brand_color_medium_grey;
}

.widget-title {
  text-transform: uppercase;
  width: 250px;
}

.textwidget {
  font-family: $font_main;
}

// Journal Page
.blog,
.error404,
.page-id-72 {
  // color: green;
  .site-content {
    display: flex;
  }
} 

.blog {
  .site-content {
    margin: auto;
    display: flex;
    .entry-header {
      position: relative;
      img {
        width: 100%;
      }
      .entry-title {
        background-color: $brand_color_green;
        font-family: $font_accent;
        text-transform: uppercase;
        position: absolute;
        top: 20px;
        left: 0;
        a {
          color: $color__background-screen;
        }
      }
      
      .entry-meta {
        background-color: $brand_color_green;
        font-family: $font_accent;
        color: $color__background-screen;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 7px;
      }
    } 
  }
}



/* header */
.search-icon {
  display: flex;
}

/* footer */
.inhabitent-footer {
  display: flex;  
  flex-direction: row;
}

.site-info {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
	color: $color__background-body;
}

.wood {
	width: 100%;
}

.contact-info {
	display: flex;
	flex-direction: column;
	font-family: $font_main;
  text-decoration: none;
  width: 25%;
	p {
		font-family: $font_accent;
		color: $brand_color_orange;
	}
	a {
		color: $color__background-body;
	}
}

.business-hours {
		font-family: $font_main;
    text-decoration: none;
    width: 25%;
	p {
    font-family: $font_accent;
    color: $brand_color_orange;
  } ul {
    margin: 0;
    padding: 0;
  }
  li {
		list-style-type: none;
  }
 }

 .inhabitent-logo {
  width: 50%;
  padding-top: 20px;
} 

.copyright {
  display: flex;
  justify-content: center;
  color: $color__background-body;
}
